default/detran-ms-hom2.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1743616474452,
    "description" : "",
    "identifier" : "detran-ms-hom2",
    "lastModifiedTimestamp" : 1743616474452,
    "name" : "detran ms hom2",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "id" : "e1ddd490-38dc-32fd-8f0a-7c682ea12ff4",
        "name" : "_STAGE - Input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "02971221-c5c1-34aa-8244-2c6a902f9a74",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1cf6df27-4df2-33bc-a506-64be8c3b0e45",
        "name" : "Start",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e731676f-1fc2-35be-b1c1-17199ba472b2",
      "name" : "AvroReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-access-strategy" : "embedded-avro-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fea17306-acf2-3f4d-93dd-1321f9bdc226",
      "name" : "DB_PRODUCAO - Detran MS - ConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "#{db_driver_classname}",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "#{producao_db_url_connection}",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "#{producao_db_username}",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "#{db_driver_local}",
        "dbcp-max-idle-conns" : "8",
        "Password" : "#{producao_db_password}"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-distributed-cache-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2b3ae6de-13b4-3b91-a6bb-e08fa74ec2d4",
      "name" : "MapCacheClientService",
      "properties" : {
        "Server Port" : "4557",
        "Server Hostname" : "localhost",
        "Communications Timeout" : "30 secs"
      },
      "propertyDescriptors" : {
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Server Port" : {
          "displayName" : "Server Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Server Port",
          "sensitive" : false
        },
        "Server Hostname" : {
          "displayName" : "Server Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Server Hostname",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.distributed.cache.client.MapCacheClientService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ae96e4c1-0a4f-3956-adc2-74d1569cee2c",
      "name" : "DB_MIGRACAO - Detran MS - ConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "#{db_driver_classname}",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "#{migracao_db_url_connection}",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "#{migracao_db_username}",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "#{db_driver_local}",
        "dbcp-max-idle-conns" : "8",
        "Password" : "#{migracao_db_password}"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ad003628-23fd-3dcc-9604-b2369f61ed5d",
      "name" : "DB_DW - Detran MS - ConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "#{db_driver_classname}",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "#{dw_db_url_connection}",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "#{dw_db_username}",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "#{db_driver_local}",
        "dbcp-max-idle-conns" : "8",
        "Password" : "#{dw_db_password}"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-distributed-cache-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2c3965fe-b995-3d91-94f2-2181d2059ffe",
      "name" : "MapCacheServer",
      "properties" : {
        "Eviction Strategy" : "Least Frequently Used",
        "maximum-read-size" : "1 MB",
        "Port" : "4557",
        "Maximum Cache Entries" : "10000"
      },
      "propertyDescriptors" : {
        "Eviction Strategy" : {
          "displayName" : "Eviction Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Eviction Strategy",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Persistence Directory" : {
          "displayName" : "Persistence Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Persistence Directory",
          "sensitive" : false
        },
        "maximum-read-size" : {
          "displayName" : "Maximum Read Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "maximum-read-size",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Maximum Cache Entries" : {
          "displayName" : "Maximum Cache Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Cache Entries",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.distributed.cache.server.map.MapCacheServer"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 464.0,
      "identifier" : "480192d6-f7bb-3f27-9e13-7796fd4c8387",
      "label" : "Processamento da _STAGE",
      "position" : {
        "x" : 128.0,
        "y" : -328.0
      },
      "style" : {
        "background-color" : "#006b99",
        "font-size" : "20px"
      },
      "width" : 448.0,
      "zIndex" : 0
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "DW - Detran MS",
    "outputPorts" : [ ],
    "parameterContextName" : "DW - Detran MS",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "93e306a8-12d6-3627-84e9-09fcfc736764",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "93e306a8-12d6-3627-84e9-09fcfc736764",
        "identifier" : "8e7e6d60-2317-3486-b4f4-addccc517ae9",
        "name" : "in",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -266.00001114422173,
          "y" : -232.4999827005513
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "TemporárioGustavo",
      "outputPorts" : [ ],
      "parameterContextName" : "DW - Detran MS",
      "position" : {
        "x" : -120.78966917619482,
        "y" : 362.3008978932589
      },
      "processGroups" : [ {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e93f4957-827e-3cdb-911f-c5d5ab2cd82d",
            "id" : "d9d0ca8c-da82-3ad2-8541-1209e4b2cbfb",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e93f4957-827e-3cdb-911f-c5d5ab2cd82d",
          "identifier" : "eb6c07c6-c663-3baf-9476-02aa37a01755",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "e93f4957-827e-3cdb-911f-c5d5ab2cd82d",
            "id" : "56d69a7b-8e74-3d26-9140-724b886f2879",
            "name" : "in1",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "93e306a8-12d6-3627-84e9-09fcfc736764",
        "identifier" : "e93f4957-827e-3cdb-911f-c5d5ab2cd82d",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "e93f4957-827e-3cdb-911f-c5d5ab2cd82d",
          "identifier" : "56d69a7b-8e74-3d26-9140-724b886f2879",
          "name" : "in1",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -203.00001114422173,
            "y" : -247.50001321812942
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "teste1",
        "outputPorts" : [ ],
        "parameterContextName" : "DW - Detran MS",
        "position" : {
          "x" : -328.0,
          "y" : -56.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e93f4957-827e-3cdb-911f-c5d5ab2cd82d",
          "identifier" : "d9d0ca8c-da82-3ad2-8541-1209e4b2cbfb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -264.0,
            "y" : -88.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "ae96e4c1-0a4f-3956-adc2-74d1569cee2c",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT top 100 * FROM DB_MIGRACAO.DBO.AEBU_RCH_CADASTRO",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      } ],
      "processors" : [ ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5962d6a6-60ff-3938-822a-8831bdaf4921",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "_ANALYTIC",
      "outputPorts" : [ ],
      "parameterContextName" : "DW - Detran MS",
      "position" : {
        "x" : 904.0,
        "y" : -184.0
      },
      "processGroups" : [ ],
      "processors" : [ ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "id" : "2893bf13-86d8-348e-b4ff-a104e5583a65",
          "name" : "_STAGE - Condutor - Input",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "39541aa6-3001-39f7-91e6-e18bb932d19a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "40ea8515-98f0-3182-a157-184b26453951",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "d20ff023-c43f-3cbf-87fd-3b9f0f9439de",
          "name" : "_STAGE - Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "c39e91d4-5c77-3822-951d-857fcfd0792d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "878540a9-5528-396f-9da3-7d1f61bee801",
          "name" : "Wait",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "2523179b-2584-3442-b939-f57e56fe020f",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "2e245722-e2d6-3fae-9371-3877c4fac3be",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "878540a9-5528-396f-9da3-7d1f61bee801",
          "name" : "Wait",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "878540a9-5528-396f-9da3-7d1f61bee801",
          "name" : "Wait",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "c9b0acb0-a8e6-3d16-a806-844202b091a1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "40ea8515-98f0-3182-a157-184b26453951",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "40ea8515-98f0-3182-a157-184b26453951",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "27f495db-83cb-39c3-b5ba-369b5c61459b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "e1ddd490-38dc-32fd-8f0a-7c682ea12ff4",
          "name" : "_STAGE - Input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 248.0,
          "y" : -144.0
        }, {
          "x" : 472.0,
          "y" : -144.0
        }, {
          "x" : 472.0,
          "y" : 72.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "878540a9-5528-396f-9da3-7d1f61bee801",
          "name" : "Wait",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "77438f82-47e6-365c-a078-2c4b4be4e452",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "wait" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "878540a9-5528-396f-9da3-7d1f61bee801",
          "name" : "Wait",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "id" : "5827037c-4c22-328d-9fb8-2f93b34c71c8",
          "name" : "_CONDUTOR - Input",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "747ef228-06fd-33ce-8beb-0a00ff57a455",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "40ea8515-98f0-3182-a157-184b26453951",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 480.0,
          "y" : 392.0
        }, {
          "x" : 480.0,
          "y" : 517.5534057617188
        }, {
          "x" : 248.0,
          "y" : 517.5534057617188
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "2523179b-2584-3442-b939-f57e56fe020f",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "064cecf8-a42b-3f69-8b61-1cbfa379ebb4",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "2523179b-2584-3442-b939-f57e56fe020f",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -640.0,
          "y" : 448.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "47df4ef0-8e0a-3cc5-9768-849c2ce089b6",
          "id" : "63455f2a-6a98-35a3-b995-bc56f1a1792a",
          "name" : "_ARRECADACAO - Input",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "35f280e4-7a1d-3939-9b38-9691ea815a4f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
          "id" : "40ea8515-98f0-3182-a157-184b26453951",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "e1ddd490-38dc-32fd-8f0a-7c682ea12ff4",
        "name" : "_STAGE - Input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -1632.0,
          "y" : 48.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "height" : 840.0,
        "identifier" : "9ac823c0-7373-3e4a-bb22-40e95cb8c29b",
        "label" : "Processamento Assuntos _STAGE",
        "position" : {
          "x" : -456.0,
          "y" : -280.0
        },
        "style" : {
          "background-color" : "#0070a8",
          "font-size" : "20px"
        },
        "width" : 432.0,
        "zIndex" : 0
      } ],
      "maxConcurrentTasks" : 1,
      "name" : "_STAGE",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "d20ff023-c43f-3cbf-87fd-3b9f0f9439de",
        "name" : "_STAGE - Output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 800.0,
          "y" : 48.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "DW - Detran MS",
      "position" : {
        "x" : 160.0,
        "y" : -184.0
      },
      "processGroups" : [ {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "47df4ef0-8e0a-3cc5-9768-849c2ce089b6",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "47df4ef0-8e0a-3cc5-9768-849c2ce089b6",
          "identifier" : "63455f2a-6a98-35a3-b995-bc56f1a1792a",
          "name" : "_ARRECADACAO - Input",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -688.0,
            "y" : -448.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "_ARRECADACAO",
        "outputPorts" : [ ],
        "parameterContextName" : "DW - Detran MS",
        "position" : {
          "x" : -432.0,
          "y" : 360.0
        },
        "processGroups" : [ ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "aefdeaef-7595-3231-b428-7082eb5896b5",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "8513aa4b-57b3-316c-8c8f-3f893174d560",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "d79fedf7-f311-3844-b78a-5cb61440bd10",
            "name" : "Notify",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -18.0,
            "y" : -164.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "aefdeaef-7595-3231-b428-7082eb5896b5",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "29b9cffb-6437-3809-ae21-507357f27556",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "d79fedf7-f311-3844-b78a-5cb61440bd10",
            "name" : "Notify",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "d79fedf7-f311-3844-b78a-5cb61440bd10",
            "name" : "Notify",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "59f2d563-89d6-3070-892d-c8442a7066cd",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "6b26023b-3ace-33d8-a38b-67f54aab3fa2",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "2c87cbd3-bb97-367f-811c-e2648c09d1f8",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "a5f73113-eab0-3acf-b70d-16384b184fc7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "6b26023b-3ace-33d8-a38b-67f54aab3fa2",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "6b26023b-3ace-33d8-a38b-67f54aab3fa2",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "a87a30dd-1014-3f50-b14a-cb9e3d4497a1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
            "id" : "5827037c-4c22-328d-9fb8-2f93b34c71c8",
            "name" : "_CONDUTOR - Input",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "5827037c-4c22-328d-9fb8-2f93b34c71c8",
          "name" : "_CONDUTOR - Input",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -558.0000216631511,
            "y" : -322.50000892101076
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "_INFRACAO",
        "outputPorts" : [ ],
        "parameterContextName" : "DW - Detran MS",
        "position" : {
          "x" : -432.0,
          "y" : 128.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "d79fedf7-f311-3844-b78a-5cb61440bd10",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Notify",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 56.0,
            "y" : -80.0
          },
          "properties" : {
            "signal-counter-delta" : "1",
            "distributed-cache-service" : "2b3ae6de-13b4-3b91-a6bb-e08fa74ec2d4",
            "signal-buffer-count" : "1",
            "release-signal-id" : "${sync.id}",
            "signal-counter-name" : "notify1"
          },
          "propertyDescriptors" : {
            "signal-counter-delta" : {
              "displayName" : "Signal Counter Delta",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "signal-counter-delta",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "signal-buffer-count" : {
              "displayName" : "Signal Buffer Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "signal-buffer-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "attribute-cache-regex" : {
              "displayName" : "Attribute Cache Regex",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attribute-cache-regex",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Notify",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "2c87cbd3-bb97-367f-811c-e2648c09d1f8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -616.0,
            "y" : 200.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "aefdeaef-7595-3231-b428-7082eb5896b5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 56.0,
            "y" : -376.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d1ea71f-d3f7-3161-9dd7-fbbf5864ef13",
          "identifier" : "6b26023b-3ace-33d8-a38b-67f54aab3fa2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -616.0,
            "y" : -80.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "ad003628-23fd-3dcc-9604-b2369f61ed5d",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT\n\tCodOrgaoAutuador,\n\tDescOrgaoAutuador,\n\tCodUF\nFROM\n\tDW_AT.dbo.DimOrgaoAutuador;",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "7753de33-c5d8-3938-ad93-e6ba3248a840",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "5dbd3c65-52ab-3c76-bfe5-8efd6b440f9d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "537f84a0-73a8-37fe-b330-39d93ecffd41",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "537f84a0-73a8-37fe-b330-39d93ecffd41",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "f46a3ae3-bc58-3540-a98f-c5f21be0a9b6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "2893bf13-86d8-348e-b4ff-a104e5583a65",
            "name" : "_STAGE - Condutor - Input",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 251.7899169921875,
            "y" : -55.61332702636719
          }, {
            "x" : 102.0,
            "y" : -168.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "8a03ae7d-3498-3ecb-b361-081640b21de5",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "1cf2ddc5-6952-3d87-bed1-0077aa1b0158",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "852bd814-3a16-3554-8cb7-22036a66c3ae",
            "name" : "Notify",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "8a03ae7d-3498-3ecb-b361-081640b21de5",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "73c1334d-c53f-388d-8b83-5ed78dc89f2c",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "852bd814-3a16-3554-8cb7-22036a66c3ae",
            "name" : "Notify",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "852bd814-3a16-3554-8cb7-22036a66c3ae",
            "name" : "Notify",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "94706fdf-d073-3516-b5f9-9bd87e7ebdf7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
            "id" : "537f84a0-73a8-37fe-b330-39d93ecffd41",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "2893bf13-86d8-348e-b4ff-a104e5583a65",
          "name" : "_STAGE - Condutor - Input",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -464.0,
            "y" : -376.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "_CONDUTOR",
        "outputPorts" : [ ],
        "parameterContextName" : "DW - Detran MS",
        "position" : {
          "x" : -432.0,
          "y" : -160.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "7753de33-c5d8-3938-ad93-e6ba3248a840",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -520.0,
            "y" : 264.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "8a03ae7d-3498-3ecb-b361-081640b21de5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 176.0,
            "y" : -408.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "852bd814-3a16-3554-8cb7-22036a66c3ae",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Notify",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 176.0,
            "y" : -56.0
          },
          "properties" : {
            "signal-counter-delta" : "1",
            "distributed-cache-service" : "2b3ae6de-13b4-3b91-a6bb-e08fa74ec2d4",
            "signal-buffer-count" : "1",
            "release-signal-id" : "${sync.id}",
            "signal-counter-name" : "notify1"
          },
          "propertyDescriptors" : {
            "signal-counter-delta" : {
              "displayName" : "Signal Counter Delta",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "signal-counter-delta",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "signal-buffer-count" : {
              "displayName" : "Signal Buffer Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "signal-buffer-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "attribute-cache-regex" : {
              "displayName" : "Attribute Cache Regex",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attribute-cache-regex",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Notify",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ea386fd-92a5-3ad4-9b93-06e170a5c008",
          "identifier" : "537f84a0-73a8-37fe-b330-39d93ecffd41",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -520.0,
            "y" : -56.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "ad003628-23fd-3dcc-9604-b2369f61ed5d",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT\n\tCodClassificacaoInfracao,\n\tDescClassificacaoInfracao\nFROM\n\tDW_AT.dbo.DimClassificacaoInfracao;",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      } ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "40ea8515-98f0-3182-a157-184b26453951",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1088.0,
          "y" : 8.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "sync.id" : "${UUID()}"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "sync.id" : {
            "displayName" : "sync.id",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "sync.id",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "expired" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "878540a9-5528-396f-9da3-7d1f61bee801",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Wait",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 72.0,
          "y" : 8.0
        },
        "properties" : {
          "wait-buffer-count" : "1",
          "wait-mode" : "keep",
          "attribute-copy-mode" : "keeporiginal",
          "distributed-cache-service" : "2b3ae6de-13b4-3b91-a6bb-e08fa74ec2d4",
          "releasable-flowfile-count" : "1",
          "release-signal-id" : "${sync.id}",
          "signal-counter-name" : "notify1",
          "expiration-duration" : "10 min",
          "target-signal-count" : "2"
        },
        "propertyDescriptors" : {
          "wait-buffer-count" : {
            "displayName" : "Wait Buffer Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "wait-buffer-count",
            "sensitive" : false
          },
          "wait-mode" : {
            "displayName" : "Wait Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "wait-mode",
            "sensitive" : false
          },
          "attribute-copy-mode" : {
            "displayName" : "Attribute Copy Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attribute-copy-mode",
            "sensitive" : false
          },
          "distributed-cache-service" : {
            "displayName" : "Distributed Cache Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "distributed-cache-service",
            "sensitive" : false
          },
          "releasable-flowfile-count" : {
            "displayName" : "Releasable FlowFile Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "releasable-flowfile-count",
            "sensitive" : false
          },
          "release-signal-id" : {
            "displayName" : "Release Signal Identifier",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "release-signal-id",
            "sensitive" : false
          },
          "signal-counter-name" : {
            "displayName" : "Signal Counter Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "signal-counter-name",
            "sensitive" : false
          },
          "expiration-duration" : {
            "displayName" : "Expiration Duration",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "expiration-duration",
            "sensitive" : false
          },
          "target-signal-count" : {
            "displayName" : "Target Signal Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "target-signal-count",
            "sensitive" : false
          },
          "wait-penalty-duration" : {
            "displayName" : "Wait Penalty Duration",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "wait-penalty-duration",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.Wait",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "37df6977-8c2e-3ff6-8c9e-fa7fa50b523f",
        "identifier" : "2523179b-2584-3442-b939-f57e56fe020f",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 72.0,
          "y" : 328.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1cf6df27-4df2-33bc-a506-64be8c3b0e45",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Start",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -560.0,
        "y" : -160.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 0 * * * ?",
      "schedulingStrategy" : "CRON_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "DW - Detran MS" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "DW - Detran MS",
      "parameters" : [ {
        "description" : "",
        "name" : "dw_db_username",
        "provided" : false,
        "sensitive" : false,
        "value" : "user_tbu"
      }, {
        "description" : "",
        "name" : "dw_db_url_connection",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:sqlserver://;serverName=10.9.23.41;databaseName=DW_AT;encrypt=true;trustServerCertificate=true"
      }, {
        "description" : "",
        "name" : "producao_db_url_connection",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:sqlserver://;serverName=10.9.23.92;databaseName=DB_PRODUCAO;encrypt=true;trustServerCertificate=true"
      }, {
        "description" : "",
        "name" : "db_driver_local",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/nifi-current/database_repository/jdbc/mssql-jdbc-12.8.1.jre11.jar"
      }, {
        "description" : "",
        "name" : "dw_db_password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "migracao_db_url_connection",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:sqlserver://;serverName=10.9.23.92;databaseName=DB_MIGRACAO;encrypt=true;trustServerCertificate=true"
      }, {
        "description" : "",
        "name" : "migracao_db_username",
        "provided" : false,
        "sensitive" : false,
        "value" : "user_tbu"
      }, {
        "description" : "",
        "name" : "producao_db_password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "migracao_db_password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "producao_db_username",
        "provided" : false,
        "sensitive" : false,
        "value" : "user_tbu"
      }, {
        "description" : "",
        "name" : "db_driver_classname",
        "provided" : false,
        "sensitive" : false,
        "value" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "flowIdentifier" : "detran-ms-hom2",
    "timestamp" : 0
  }
}